.faq-column{ 
}
.faq-expand-icon{ 
}
.header{
  text-align:center;
  margin:24px 0px;
  font-size:4em;
  color:rgba(180,180,180,1);
  font-weight:bold;
  padding-bottom:48px;
}
.question-answer-div{
  margin-top:12px;
  padding:12px 12px;
   background-color:rgba(255,255,255,1);
-webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.1);
box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.1);
}
.question{
  cursor: pointer;
  color:rgba(120,120,120,1);
  font-weight:500;
  opacity:.9;
}
.question:hover{
  opacity:1;
}
.answer{
  color:rgba(100,100,100,1);
  margin-top:12px;
}
.learn-more-btn{
  margin:48px 0;
  font-weight:bold;
  border-radius:0px;
}
.learn-more-btn:hover{
  -webkit-box-shadow: 10px 15px 28px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 10px 15px 28px 0px rgba(0,0,0,0.1);
box-shadow: 10px 15px 28px 0px rgba(0,0,0,0.1);
}